#Data Pre-Processing

In [ ]:
import pandas as pd

# Read CO2 Emissions data
co2Data = pd.read_csv('/content/CO2Data.csv')

# Read Greenhouse Gases data
ggData = pd.read_csv('/content/GreenhouseGasses.csv')

# Read Surface Temperature Change data
tempData = pd.read_csv('/content/TempData.csv')

# Now you can perform data preprocessing or further analysis on the loaded datasets

In [ ]:
ggData.head()

,Year,CO2,CH4,N2O,CFC*,HCFCs,HFCs*,Total,Total.1,1990 = 1,change **
0,1979,1.027,0.406,0.104,0.154,0.008,0.001,1.700,382,0.785,NaN
1,1980,1.060,0.413,0.104,0.163,0.009,0.001,1.749,386,0.808,2.3
2,1981,1.079,0.420,0.107,0.172,0.009,0.001,1.788,388,0.825,1.8
3,1982,1.091,0.426,0.111,0.180,0.010,0.001,1.819,391,0.840,1.5
4,1983,1.117,0.429,0.113,0.190,0.011,0.001,1.861,394,0.859,1.9

In [ ]:
tempData.head()

   Year  Value
0  1850  -0.22
1  1851  -0.19
2  1852  -0.38
3  1853  -0.18
4  1854  -0.22

In [ ]:
co2Data.head()

   year    mean   unc
0  1959  315.98  0.12
1  1960  316.91  0.12
2  1961  317.64  0.12
3  1962  318.45  0.12
4  1963  318.99  0.12

In [ ]:
co2Data.describe()

              year        mean    unc
count    64.000000   64.000000  64.00
mean   1990.500000  358.295156   0.12
std      18.618987   30.583707   0.00
min    1959.000000  315.980000   0.12
25%    1974.750000  330.895000   0.12
50%    1990.500000  355.075000   0.12
75%    2006.250000  382.572500   0.12
max    2022.000000  418.560000   0.12

In [ ]:
# Check for missing values in each dataset
co2_missing_values = co2Data.isnull().sum()
gg_missing_values = ggData.isnull().sum()
temp_missing_values = tempData.isnull().sum()

# Print the number of missing values in each dataset
print("CO2 Emissions - Missing Values:")
print(co2_missing_values)

print("\nGreenhouse Gases - Missing Values:")
print(gg_missing_values)

print("\nSurface Temperature Change - Missing Values:")
print(temp_missing_values)

CO2 Emissions - Missing Values:
year    0
mean    0
unc     0
dtype: int64

Greenhouse Gases - Missing Values:
Year         0
CO2          0
CH4          0
N2O          0
CFC*         0
HCFCs        0
HFCs*        0
Total        0
Total.1      0
1990 = 1     0
change **    1
dtype: int64

Surface Temperature Change - Missing Values:
Year     0
Value    0
dtype: int64

In [ ]:
co2Data = co2Data.fillna(co2Data.mean())
ggData = ggData.fillna(ggData.mean())
tempData = tempData.fillna(tempData.mean())

In [ ]:
# rename 'year' column in co2Data
co2Data.rename(columns={'year': 'Year'}, inplace=True)

# filter dataframes to include data from 1974 to 2021 only
ggData = ggData[(ggData['Year'] >= 1974) & (ggData['Year'] <= 2021)]
tempData = tempData[(tempData['Year'] >= 1974) & (tempData['Year'] <= 2021)]
co2Data = co2Data[(co2Data['Year'] >= 1974) & (co2Data['Year'] <= 2021)]

# merge the dataframes
df = pd.merge(ggData, tempData, on='Year')
df = pd.merge(df, co2Data, on='Year')

In [ ]:
# Define a dictionary with old column names as keys and new column names as values
rename_dict = {
    'Year': 'Year',
    'CO2': 'CO2',
    'CH4': 'Methane',
    'N2O': 'Nitrous_Oxide',
    'CFC*': 'CFCs',
    'HCFCs': 'Hydrochlorofluorocarbons',
    'HFCs*': 'Hydrofluorocarbons',
    'Total': 'Total_Greenhouse_Gases',
    'Total.1': 'Total_Greenhouse_Gases_Scaled',
    '1990 = 1': '1990_Equals_1',
    'change **': 'Change',
    'Value': 'Surface_Temperature',
    'mean': 'CO2_Mean',
    'unc': 'CO2_Uncertainty'
}

# Rename the columns
df.rename(columns=rename_dict, inplace=True)
df = df.drop(columns=['CO2_Uncertainty'])

In [ ]:
df.describe()

,Year,CO2,Methane,Nitrous_Oxide,CFCs,Hydrochlorofluorocarbons,Hydrofluorocarbons,Total_Greenhouse_Gases,Total_Greenhouse_Gases_Scaled,1990_Equals_1,Change,Surface_Temperature,CO2_Mean
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,2000.911111,1.570311,0.475667,0.154622,0.251378,0.034044,0.014711,2.500689,445.244444,1.154733,1.677273,0.576444,374.498444
std,12.990945,0.343749,0.030469,0.032262,0.034604,0.017099,0.014129,0.452937,37.559744,0.209166,0.372866,0.276703,24.544047
min,1979.000000,1.027000,0.406000,0.104000,0.154000,0.008000,0.001000,1.700000,382.000000,0.785000,0.700000,0.100000,336.840000
25%,1990.000000,1.294000,0.459000,0.129000,0.246000,0.018000,0.003000,2.166000,417.000000,1.000000,1.500000,0.370000,354.450000
50%,2001.000000,1.538000,0.481000,0.153000,0.263000,0.034000,0.009000,2.494000,443.000000,1.152000,1.700000,0.570000,371.320000
75%,2012.000000,1.848000,0.494000,0.181000,0.276000,0.051000,0.025000,2.860000,475.000000,1.321000,1.800000,0.790000,394.060000
max,2021.000000,2.140000,0.526000,0.210000,0.282000,0.058000,0.044000,3.222000,508.000000,1.488000,2.700000,1.140000,416.450000

In [ ]:
df.isnull().sum()

Year                             0
CO2                              0
Methane                          0
Nitrous_Oxide                    0
CFCs                             0
Hydrochlorofluorocarbons         0
Hydrofluorocarbons               0
Total_Greenhouse_Gases           0
Total_Greenhouse_Gases_Scaled    0
1990_Equals_1                    0
Change                           0
Surface_Temperature              0
CO2_Mean                         0
dtype: int64

In [ ]:
df_list = df.values.tolist()
df_list.insert(0, list(df.columns))

In [ ]:
df_list

[['Year',
  'CO2',
  'Methane',
  'Nitrous_Oxide',
  'CFCs',
  'Hydrochlorofluorocarbons',
  'Hydrofluorocarbons',
  'Total_Greenhouse_Gases',
  'Total_Greenhouse_Gases_Scaled',
  '1990_Equals_1',
  'Change',
  'Surface_Temperature',
  'CO2_Mean'],
 [1979.0,
  1.027,
  0.406,
  0.104,
  0.154,
  0.008,
  0.001,
  1.7,
  382.0,
  0.785,
  1.6772727272727268,
  0.1,
  336.84],
 [1980.0,
  1.06,
  0.413,
  0.104,
  0.163,
  0.009,
  0.001,
  1.749,
  386.0,
  0.808,
  2.3,
  0.33,
  338.76],
 [1981.0,
  1.079,
  0.42,
  0.107,
  0.172,
  0.009,
  0.001,
  1.788,
  388.0,
  0.825,
  1.8,
  0.38,
  340.12],
 [1982.0,
  1.091,
  0.426,
  0.111,
  0.18,
  0.01,
  0.001,
  1.819,
  391.0,
  0.84,
  1.5,
  0.22,
  341.48],
 [1983.0,
  1.117,
  0.429,
  0.113,
  0.19,
  0.011,
  0.001,
  1.861,
  394.0,
  0.859,
  1.9,
  0.25,
  343.15],
 [1984.0,
  1.141,
  0.432,
  0.116,
  0.198,
  0.012,
  0.002,
  1.901,
  397.0,
  0.878,
  1.9,
  0.13,
  344.87],
 [1985.0,
  1.164,
  0.437,
  0.118,
  0.208,
  0.013,
  0.002,
  1.941,
  400.0,
  0.896,
  1.8,
  0.12,
  346.35],
 [1986.0,
  1.185,
  0.442,
  0.121,
  0.219,
  0.014,
  0.002,
  1.983,
  403.0,
  0.916,
  1.9,
  0.27,
  347.61],
 [1987.0,
  1.212,
  0.447,
  0.12,
  0.23,
  0.015,
  0.002,
  2.026,
  406.0,
  0.936,
  2.0,
  0.21,
  349.31],
 [1988.0,
  1.25,
  0.451,
  0.122,
  0.244,
  0.016,
  0.002,
  2.085,
  411.0,
  0.963,
  2.7,
  0.46,
  351.69],
 [1989.0,
  1.274,
  0.455,
  0.126,
  0.254,
  0.017,
  0.002,
  2.13,
  414.0,
  0.984,
  2.1,
  0.4,
  353.2],
 [1990.0,
  1.294,
  0.459,
  0.129,
  0.263,
  0.018,
  0.003,
  2.166,
  417.0,
  1.0,
  1.6,
  0.61,
  354.45],
 [1991.0,
  1.314,
  0.463,
  0.131,
  0.27,
  0.02,
  0.003,
  2.201,
  419.0,
  1.016,
  1.6,
  0.58,
  355.7],
 [1992.0,
  1.325,
  0.467,
  0.133,
  0.276,
  0.021,
  0.003,
  2.226,
  421.0,
  1.028,
  1.2,
  0.24,
  356.54],
 [1993.0,
  1.336,
  0.467,
  0.134,
  0.279,
  0.022,
  0.004,
  2.241,
  423.0,
  1.035,
  0.7,
  0.36,
  357.21],
 [1994.0,
  1.358,
  0.47,
  0.136,
  0.28,
  0.024,
  0.004,
  2.271,
  425.0,
  1.049,
  1.4,
  0.41,
  358.96],
 [1995.0,
  1.385,
  0.472,
  0.136,
  0.281,
  0.025,
  0.004,
  2.305,
  428.0,
  1.064,
  1.6,
  0.51,
  360.97],
 [1996.0,
  1.412,
  0.473,
  0.139,
  0.282,
  0.027,
  0.005,
  2.338,
  430.0,
  1.079,
  1.5,
  0.37,
  362.74],
 [1997.0,
  1.428,
  0.474,
  0.142,
  0.282,
  0.028,
  0.006,
  2.36,
  432.0,
  1.09,
  1.0,
  0.41,
  363.88],
 [1998.0,
  1.467,
  0.478,
  0.144,
  0.282,
  0.029,
  0.006,
  2.407,
  436.0,
  1.111,
  2.2,
  0.7,
  366.84],
 [1999.0,
  1.497,
  0.481,
  0.147,
  0.281,
  0.031,
  0.007,
  2.445,
  439.0,
  1.129,
  1.8,
  0.37,
  368.54],
 [2000.0,
  1.515,
  0.481,
  0.151,
  0.281,
  0.032,
  0.008,
  2.468,
  441.0,
  1.14,
  1.1,
  0.61,
  369.71],
 [2001.0,
  1.538,
  0.48,
  0.153,
  0.28,
  0.034,
  0.009,
  2.494,
  443.0,
  1.152,
  1.2,
  0.56,
  371.32],
 [2002.0,
  1.567,
  0.481,
  0.155,
  0.279,
  0.035,
  0.01,
  2.527,
  446.0,
  1.167,
  1.5,
  0.56,
  373.45],
 [2003.0,
  1.603,
  0.483,
  0.157,
  0.278,
  0.037,
  0.011,
  2.569,
  449.0,
  1.186,
  1.9,
  0.61,
  375.98],
 [2004.0,
  1.63,
  0.483,
  0.159,
  0.276,
  0.038,
  0.012,
  2.598,
  452.0,
  1.2,
  1.3,
  0.66,
  377.7],
 [2005.0,
  1.657,
  0.482,
  0.162,
  0.275,
  0.039,
  0.014,
  2.629,
  454.0,
  1.214,
  1.4,
  0.7,
  379.98],
 [2006.0,
  1.688,
  0.482,
  0.165,
  0.274,
  0.041,
  0.015,
  2.664,
  457.0,
  1.23,
  1.6,
  0.52,
  382.09],
 [2007.0,
  1.713,
  0.484,
  0.167,
  0.272,
  0.043,
  0.017,
  2.695,
  460.0,
  1.244,
  1.4,
  0.8,
  384.02],
 [2008.0,
  1.743,
  0.486,
  0.17,
  0.27,
  0.045,
  0.018,
  2.731,
  463.0,
  1.261,
  1.7,
  0.52,
  385.83],
 [2009.0,
  1.763,
  0.489,
  0.172,
  0.268,
  0.046,
  0.02,
  2.758,
  465.0,
  1.273,
  1.2,
  0.59,
  387.64],
 [2010.0,
  1.794,
  0.491,
  0.174,
  0.266,
  0.048,
  0.021,
  2.795,
  469.0,
  1.29,
  1.7,
  0.89,
  390.1],
 [2011.0,
  1.82,
  0.492,
  0.178,
  0.264,
  0.05,
  0.023,
  2.827,
  472.0,
  1.305,
  1.5,
  0.65,
  391.85],
 [2012.0,
  1.848,
  0.494,
  0.181,
  0.263,
  0.051,
  0.025,
  2.86,
  475.0,
  1.321,
  1.5,
  0.75,
  394.06],
 [2013.0,
  1.884,
  0.496,
  0.183,
  0.261,
  0.052,
  0.026,
  2.903,
  478.0,
  1.341,
  2.0,
  0.57,
  396.74],
 [2014.0,
  1.911,
  0.499,
  0.187,
  0.259,
  0.053,
  0.028,
  2.938,
  481.0,
  1.357,
  1.6,
  0.85,
  398.81],
 [2015.0,
  1.942,
  0.504,
  0.19,
  0.257,
  0.054,
  0.03,
  2.978,
  485.0,
  1.375,
  1.8,
  0.81,
  401.01],
 [2016.0,
  1.988,
  0.507,
  0.193,
  0.256,
  0.055,
  0.032,
  3.031,
  490.0,
  1.4,
  2.5,
  1.14,
  404.41],
 [2017.0,
  2.016,
  0.509,
  0.195,
  0.254,
  0.056,
  0.035,
  3.065,
  493.0,
  1.415,
  1.6,
  0.97,
  406.76],
 [2018.0,
  2.047,
  0.512,
  0.199,
  0.253,
  0.057,
  0.037,
  3.104,
  497.0,
  1.433,
  1.8,
  0.9,
  408.72],
 [2019.0,
  2.079,
  0.516,
  0.202,
  0.25,
  0.057,
  0.039,
  3.144,
  500.0,
  1.452,
  1.8,
  1.05,
  411.66],
 [2020.0,
  2.111,
  0.52,
  0.206,
  0.248,
  0.057,
  0.041,
  3.183,
  504.0,
  1.47,
  1.8,
  1.11,
  414.24],
 [2020.0,
  2.111,
  0.52,
  0.206,
  0.248,
  0.057,
  0.041,
  3.183,
  504.0,
  1.47,
  1.8,
  1.11,
  414.24],
 [2021.0,
  2.14,
  0.526,
  0.21,
  0.246,
  0.058,
  0.044,
  3.222,
  508.0,
  1.488,
  1.8,
  0.79,
  416.45],
 [2021.0,
  2.14,
  0.526,
  0.21,
  0.246,
  0.058,
  0.044,
  3.222,
  508.0,
  1.488,
  1.8,
  0.79,
  416.45]]

#Least Squares Regression

In [ ]:
!pip install pandas
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
ERROR: Operation cancelled by user
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3108, in _dep_map
    return self.__dep_map
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2901, in __getattr__
    raise AttributeError(attr)
AttributeError: _DistInfoDistribution__dep_map

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 169, in exc_logging_wrapper
    status = run_func(*args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/req_command.py", line 242, in wrapper
    return func(self, options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 441, in run
    conflicts = self._determine_conflicts(to_install)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 572, in _determine_conflicts
    return check_install_conflicts(to_install)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/operations/check.py", line 101, in check_install_conflicts
    package_set, _ = create_package_set_from_installed()
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/operations/check.py", line 42, in create_package_set_from_installed
    dependencies = list(dist.iter_dependencies())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/pkg_resources.py", line 216, in iter_dependencies
    return self._dist.requires(extras)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2821, in requires
    dm = self._dep_map
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3110, in _dep_map
    self.__dep_map = self._compute_dependencies()
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3120, in _compute_dependencies
    reqs.extend(parse_requirements(req))
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3173, in __init__
    super(Requirement, self).__init__(requirement_string)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/packaging/requirements.py", line 102, in __init__
    req = REQUIREMENT.parseString(requirement_string)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 1131, in parse_string
    loc, tokens = self._parse(instring, 0)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3886, in parseImpl
    loc, exprtokens = e._parse(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4114, in parseImpl
    return e._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3886, in parseImpl
    loc, exprtokens = e._parse(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4959, in parseImpl
    loc, tokens = self_expr._parse(instring, loc, doActions, callPreParse=False)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3886, in parseImpl
    loc, exprtokens = e._parse(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3886, in parseImpl
    loc, exprtokens = e._parse(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 5226, in parseImpl
    return super().parseImpl(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4375, in parseImpl
    return self.expr._parse(instring, loc, doActions, callPreParse=False)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3864, in parseImpl
    loc, resultlist = self.exprs[0]._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4114, in parseImpl
    return e._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4375, in parseImpl
    return self.expr._parse(instring, loc, doActions, callPreParse=False)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 3886, in parseImpl
    loc, exprtokens = e._parse(instring, loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 4114, in parseImpl
    return e._parse(
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line 817, in _parseNoCache
    loc, tokens = self.parseImpl(instring, pre_loc, doActions)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pyparsing/core.py", line -1, in parseImpl
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/main.py", line 79, in main
    return command.main(cmd_args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 101, in main
    return self._main(args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 223, in _main
    return run(options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 207, in exc_logging_wrapper
    logger.debug("Exception information:", exc_info=True)
  File "/usr/lib/python3.10/logging/__init__.py", line 1465, in debug
    self._log(DEBUG, msg, args, **kwargs)
  File "/usr/lib/python3.10/logging/__init__.py", line 1624, in _log
    self.handle(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1634, in handle
    self.callHandlers(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1696, in callHandlers
    hdlr.handle(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 968, in handle
    self.emit(record)
  File "/usr/lib/python3.10/logging/handlers.py", line 75, in emit
    logging.FileHandler.emit(self, record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1218, in emit
    StreamHandler.emit(self, record)
  File "/usr/lib/python3.10/logging/__init__.py", line 1100, in emit
    msg = self.format(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 943, in format
    return fmt.format(record)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/utils/logging.py", line 112, in format
    formatted = super().format(record)
  File "/usr/lib/python3.10/logging/__init__.py", line 686, in format
    record.exc_text = self.formatException(record.exc_info)
  File "/usr/lib/python3.10/logging/__init__.py", line 636, in formatException
    traceback.print_exception(ei[0], ei[1], tb, None, sio)
  File "/usr/lib/python3.10/traceback.py", line 119, in print_exception
    te = TracebackException(type(value), value, tb, limit=limit, compact=True)
  File "/usr/lib/python3.10/traceback.py", line 502, in __init__
    self.stack = StackSummary.extract(
  File "/usr/lib/python3.10/traceback.py", line 383, in extract
    f.line
  File "/usr/lib/python3.10/traceback.py", line 306, in line
    self._line = linecache.getline(self.filename, self.lineno)
  File "/usr/lib/python3.10/linecache.py", line 30, in getline
    lines = getlines(filename, module_globals)
  File "/usr/lib/python3.10/linecache.py", line 46, in getlines
    return updatecache(filename, module_globals)
  File "/usr/lib/python3.10/linecache.py", line 136, in updatecache
    with tokenize.open(fullname) as fp:
  File "/usr/lib/python3.10/tokenize.py", line 396, in open
    encoding, lines = detect_encoding(buffer.readline)
  File "/usr/lib/python3.10/tokenize.py", line 365, in detect_encoding
    first = read_or_stop()
  File "/usr/lib/python3.10/tokenize.py", line 323, in read_or_stop
    return readline()
KeyboardInterrupt
^C
ERROR: Operation cancelled by user
Traceback (most recent call last):
  File "<frozen importlib._bootstrap_external>", line 153, in _path_is_mode_type
  File "<frozen importlib._bootstrap_external>", line 147, in _path_stat
FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/lib/python3.10/dist-packages/google/__init__.abi3.so'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 169, in exc_logging_wrapper
    status = run_func(*args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/req_command.py", line 242, in wrapper
    return func(self, options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/commands/install.py", line 324, in run
    session = self.get_default_session(options)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/req_command.py", line 98, in get_default_session
    self._session = self.enter_context(self._build_session(options))
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/req_command.py", line 125, in _build_session
    session = PipSession(
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/network/session.py", line 342, in __init__
    self.headers["User-Agent"] = user_agent()
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/network/session.py", line 175, in user_agent
    setuptools_dist = get_default_environment().get_distribution("setuptools")
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/__init__.py", line 75, in get_default_environment
    return select_backend().Environment.default()
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/__init__.py", line 63, in select_backend
    from . import pkg_resources
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/metadata/pkg_resources.py", line 8, in <module>
    from pip._vendor import pkg_resources
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3327, in <module>
    def _initialize_master_working_set():
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3301, in _call_aside
    f(*args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3352, in _initialize_master_working_set
    tuple(dist.activate(replace=False) for dist in working_set)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 3352, in <genexpr>
    tuple(dist.activate(replace=False) for dist in working_set)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2867, in activate
    fixup_namespace_packages(self.location)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2376, in fixup_namespace_packages
    subpath = _handle_ns(package, path_item)
  File "/usr/local/lib/python3.10/dist-packages/pip/_vendor/pkg_resources/__init__.py", line 2266, in _handle_ns
    spec = importer.find_spec(packageName)
  File "<frozen importlib._bootstrap_external>", line 1563, in find_spec
  File "<frozen importlib._bootstrap_external>", line 161, in _path_isfile
  File "<frozen importlib._bootstrap_external>", line 153, in _path_is_mode_type
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/bin/pip3", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/main.py", line 79, in main
    return command.main(cmd_args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 101, in main
    return self._main(args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 223, in _main
    return run(options, args)
  File "/usr/local/lib/python3.10/dist-packages/pip/_internal/cli/base_command.py", line 207, in exc_logging_wrapper
    logger.debug("Exception information:", exc_info=True)
  File "/usr/lib/python3.10/logging/__init__.py", line 1465, in debug
    self._log(DEBUG, msg, args, **kwargs)
  File "/usr/lib/python3.10/logging/__init__.py", line 1622, in _log
    record = self.makeRecord(self.name, level, fn, lno, msg, args,
  File "/usr/lib/python3.10/logging/__init__.py", line 1591, in makeRecord
    rv = _logRecordFactory(name, level, fn, lno, msg, args, exc_info, func,
  File "/usr/lib/python3.10/logging/__init__.py", line 328, in __init__
    self.msecs = int((ct - int(ct)) * 1000) + 0.0  # see gh-89047
KeyboardInterrupt
^C

In [ ]:
import pandas as pd

# Read CO2 Emissions data
co2Data2 = pd.read_csv('/content/CO2Data.csv')
co2List = co2Data2.values.tolist()

# Read Greenhouse Gases data
ggData2 = pd.read_csv('/content/GreenhouseGasses.csv')
ggList = ggData2.values.tolist()

# Read Surface Temperature Change data
tempData2 = pd.read_csv('/content/TempData.csv')
tempList = tempData2.values.tolist()

In [ ]:
import numpy as np

def slope(x_coordinates, y_coordinates):
    x_coordinates_sum = np.sum(x_coordinates)
    y_coordinates_sum = np.sum(y_coordinates)
    xy_coordinates_sum = np.sum(x_coordinates*y_coordinates)
    x_squared_coordinates_sum = np.sum(x_coordinates*x_coordinates)
    
    slope = (xy_coordinates_sum*len(x_coordinates) - x_coordinates_sum*y_coordinates_sum) / (x_squared_coordinates_sum*len(x_coordinates) - x_coordinates_sum*x_coordinates_sum)
    y_intercept = (y_coordinates_sum - slope*x_coordinates_sum) / len(x_coordinates)
    
    return slope, y_intercept

print(df_list[len(df_list)-1])
year = input("What year would you like to find data about?: ")
print("In the year "+year+" our model predicts that:")
units = ["years","","","","","","","","","","","","ppm"]

yValues = []
for index in range(1, len(df_list)):
    yValues.append(df_list[index][0])
yValues = np.array(yValues)  # Convert yValues to a numpy array
for index1 in range(1, len(df_list[0])):
    xValues = []
    for index2 in range(1, len(df_list)):
        xValues.append(df_list[index2][index1])
    xValues = np.array(xValues)  # Convert xValues to a numpy array
    line = slope(yValues, xValues)
    prediction=line[0]*float(year)+line[1]
    print(str(df_list[0][index1])+" = "+str(round(prediction,3))+" "+units[index1])

(1.5182926829268293, 0.30487804878048763)
[2021.0, 2.14, 0.526, 0.21, 0.246, 0.058, 0.044, 3.222, 508.0, 1.488, 1.8, 0.79, 416.45]
What year would you like to find data about?: 2050
In the year 2050 our model predicts that:
CO2 = 2.866
Methane = 0.588
Nitrous_Oxide = 0.276
CFCs = 0.318
Hydrochlorofluorocarbons = 0.098
Hydrofluorocarbons = 0.065
Total_Greenhouse_Gases = 4.21
Total_Greenhouse_Gases_Scaled = 586.906
1990_Equals_1 = 1.944
Change = 1.603
Surface_Temperature = 1.499
CO2_Mean = 466.782

#AI